<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Player Search</title>
        <meta charset="UTF-8">
        <meta name = "conference_id" content = {{conference_id}}>
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/athletes_page.js"></script>
    </head>

    <body>
        <p><a href="/">Home</a></p>
        <h1>Athletes</h1>

        <h4>Sorted by <span id="sort_key"></span></h4>
        <p><table id="athletes_table" class="results_table"></table></p>

    </body>
</html>
