<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fantasy Track Home</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/homepage.js"></script>
    </head>

    <body>

        <div id = "half_block" class="center_text">
            <h4 class="default_text">Select a Conference </h4>
            <p>Displays a table showing every athlete in the conference and every distance event they have run.
                Athletes are sorted by 5000 by default, but can be sorted by any distance by clicking on that distance.
            </p>

            <select id="conference_selector"></select>
            <button id="conference_selector_button">Select Conference</button>
        </div>

        <div id = "half_block" class="center_text">
            <h4 class="default_text"><a href="/find_athlete">Find Athlete</a></h4>
            <p>Select an athlete and a conference. A table will show which athletes from the comparison conference
                are most similar to the selected athlete. The selected athlete can be from the comparison conference,
                but does not have to be.
            </p>
        </div>
    </body>
</html>
