<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fantasy Track Home</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/general.css">
        <script type="text/javascript" src="../static/homepage.js"></script>
    </head>

    <body>

        <div id = "half_block" class="center_text">
            <h4 class="default_text">Select a Conference </h4>

            <select id="conference_selector"></select>
            <button id="conference_selector_button">Select Conference</button>
        </div>

        <div id = "half_block" class="center_text">
            <h4 class="default_text"><a href="/find_athlete">Find Athlete</a></h4>
        </div>
    </body>
</html>
